.menuButton {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border-radius: 6px;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: background 0.2s;
  outline: none;
  user-select: none;
  cursor: pointer;
  width: max-content;
  display: inline-block;
  background: #4A61DD;
  color: #FFF;
}


.menuButton:hover {
  background: #2845DF;
}

.menuLink {
  white-space: nowrap;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  padding: 0;
  height: 19px;
  line-height: 19px;
  margin-right: 28px;
}

.menuLink:last-child {
  margin-right: 0px;
}

.menu {
  display: flex;
  align-items: center;
}